.vscode
.idea
build
data
sqlcipher-3.0.1
dist
venv
venv_decrypt
venv_main_pc
TEST
app/data/avatar
app/data/image2
app/data/emoji
app/DataBase/Msg/*
server
*.db
*.ui
*.pyc
*.bat
*.log
*.spec
test*
wordcloud.html